ARTIFACTORY_HOSTNAME=
ARTIFACTORY_USERNAME=
ARTIFACTORY_PASSWORD=

ADSCORE_API_KEY=

# Discord settings
SEND_DISCORD_MESSAGE=
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL=               # "internal" or "public"
DISCORD_CHANNEL_ID_INTERNAL=
DISCORD_CHANNEL_ID_PUBLIC=

# Webflow settings
UPDATE_WEBFLOW_CMS=
WEBFLOW_API_TOKEN=

# Kameleo settings
KAM_PAT=
KAM_PORT=               # optional
KAM_VERBOSE=            # optional
PROXY_USERNAME=
PROXY_PASSWORD=
ENGINE_ALREADY_RUNNING= # optional

# Playwright settings
PW_RETRIES=             # optional
PW_WORKERS=             # optional